.button_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding: 18px;
}

.button {
  border-radius: 8px;
  cursor: pointer;
  padding: 16px;
  color: #777;
  background-color: white;
  border: 1px solid #777;
  outline: none;
  min-width: 120px;
  font-size: 18px;
}
